/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
    --dark: #141414;
    --dark-hover: #222222;
    --pink: #FDDCD7;
    --pink-hover: #FFE8E5;
    --gray: #F0F0F0
}

html,
body {
    height: 100%;
}

html {
    color: var(--dark);
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

a {
    color: var(--dark);
}

a:hover {
    color: var(--pink);
    text-decoration: none;
}

a:active { 
    color: var(--pink) !important;
    text-decoration: none;
  }

  a[href^="tel"] {
    color: var(--pink); /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
    /* Additional css `propery: value;` pairs here */
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .menu-wrapper {
    margin: 0 auto;
    width: 26px;
    height: 60px;
    cursor: pointer;
    top: 3px;
    position: relative;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 40px;
    height: 3px;
}

.hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: white;
    transition: all 0ms 300ms;
}

.hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

#main-nav {
    background-color: transparent;
    color: white;
    box-shadow: 0 0 0px transparent;
    transition: background 0.3s ease-out;
}

#main-nav .navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease-out;
}

#main-nav .navbar-nav .nav-link:hover {
    color: var(--pink);
}

#main-nav.scrolled {
    background-color: var(--dark);
}

#main-nav .navbar-brand span {
    color: white;
    text-transform: uppercase;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--pink);
}


.active .nav-link {
    color: #fff;
    text-decoration: none;
    background-color: var(--pink);
    font-weight: 800;
}

.banner {
    height: 100%;
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1541082936/Hebert%20Thomas/banner-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-tint {
    width: 50%;
    background: var(--pink);
    height: 100%;
    position: absolute;
    left: 0;
    opacity: .4;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background: var(--dark);
}

.banner .bar {
    background: transparent;
    position: absolute;
    left: 0;
    width: 70px;
    height: 100%;
    z-index: 100;
}

.banner .bar .content {
    width: 70vh;
    padding-left: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translateX(-50%) rotate(-90deg);
}

.banner .bar .content h3 a {
    padding: 0 20px;
    font-weight: 300;
}

.banner .bar .content h3 a:hover {
    color: var(--pink);
}

.banner .bottom-content h1 {
    font-size: 58px;
    margin: 0;
}

.banner .bottom-content {
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

.banner .bottom-content .banner-box {
    background-color: var(--dark);
}

.banner .bottom-content i {
    font-size: 28px;
}

.banner .bottom-content h3,
.banner .bottom-content p {
    margin: 0;
}
.banner .bottom-content .lead {
    width: 80%;
}

.banner .banner-scroll {
    height: 100%;
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1546801311/Hebert%20Thomas/home_banner_img2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner .banner-scroll a {
    color: var(--dark);
}

.banner .banner-scroll a:hover {
    color: white;
    text-decoration: none;
}

.banner .banner-scroll h4,
.banner .banner-scroll i {
    position: relative;
}

.banner .banner-scroll:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background: var(--pink);
}

.newsletter {
    background: var(--pink);
    width: 100%;
}

.newsletter i {
    font-size: 50px;
}

.newsletter #mc_embed_signup .button {
    font-size: 1em;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: var(--dark);
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 25px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

.newsletter #mc_embed_signup input.email {
    font-size: 1em;
    background-color: white;
    box-sizing: border-box;
    height: 32px;
    display: inline-block;
    width: 360px;
    vertical-align: top;
    border-width: 1px;
    border-style: none;
    border-image: initial;
    border-radius: 3px;
    padding: 0px 0.4em;
    margin: 0px;
}

#mc_embed_signup form {
    text-align: center;
    padding: 10px 0 10px 0;
}

.mc-field-group {
    display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup .clear {
    display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    background-color: #777;
    cursor: pointer;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }

    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }

    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
}

.footer {
    background: var(--dark);
    width: 100%;
    color: white;
}

.footer h4 {
    margin-bottom: 30px;
}

.footer strong {
    color: var(--pink);
}

.footer span {
    font-size: 22px;
    text-transform: uppercase;
}

.footer .nav-link {
    color: white;
}

.footer .nav-link:hover {
    color: var(--pink);
}

.footer .social a i {
    color: var(--pink);
    padding: 0 5px;
    font-size: 20px;
}

.footer .social a i:hover {
    color: white;
}

.footer .copyright {
    font-size: 12px;
}

.footer .copyright a {
    color: white;
}
.footer .copyright a:hover {
    color: var(--pink-hover);
}


/* ==========================================================================
   Button classes
   ========================================================================== */
.btn-pink {
    color: var(--dark) !important;
    background: var(--pink);
}

.btn-pink:hover {
    color: var(--dark);
    background: var(--pink-hover);
}

.btn-black {
    color: white !important;
    background: var(--dark);
}
.btn-black:hover {
    color: white;
    background: var(--dark-hover);
}

/* ==========================================================================
   header classes
   ========================================================================== */
.sub-header {
    height: 500px;
    color: white;
}

.sub-header h1 , .dark-header h1 {
    margin: 0;
    font-size: 58px;
}

.sub-header .lead, .dark-header .lead {
    margin: 0;
}

.sub-header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;
    background: var(--dark);
}

.dark-header {
    height: 60px;
    color: white;
    background-color: var(--dark);
    height: 300px;
}

.about-header {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1546801094/Hebert%20Thomas/about_background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.practice-header {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1542057591/Hebert%20Thomas/practice-header.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.insight-header {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1542072426/Hebert%20Thomas/insight-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.estate-planning {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564088005/Hebert%20Thomas/ep-cover.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.business-law {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564093057/Hebert%20Thomas/bl-cover.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.trademarks {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564096184/Hebert%20Thomas/tm-cover.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.mergers {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564097171/Hebert%20Thomas/mergers-cover.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.general {
  background: url(https://res.cloudinary.com/empuls3/image/upload/v1564446655/Hebert%20Thomas/gen-cover.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.privacy {
  background: url(https://res.cloudinary.com/empuls3/image/upload/v1564447732/Hebert%20Thomas/privacy-cover.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.contact-header {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1554426583/shutterstock_657766582_2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.estate-planning-3 {
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564088013/Hebert%20Thomas/ep-img-2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0.25rem;
}

.bg-pink {
    background: var(--pink);
    color: var(--dark);
}

.full-dark {
    background: var(--dark);
    color: white;
}

.page-cta {
    padding: 80px 20px 80px 10px;
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1564093057/Hebert%20Thomas/cta-call.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    color: white;
    height: 400px;
}

.page-cta-img {
    padding: 80px 20px 80px 20px;
    background: url(https://res.cloudinary.com/empuls3/image/upload/v1542068302/Hebert%20Thomas/cta-img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 500px;
    color: white;
}

.service-tab {
    background: white;
    color: var(--dark);
    transition: background 0.3s ease-out;
}

.service-tab:hover {
    background: var(--pink);
    color: var(--dark);
}

.service-tab i {
    color: var(--pink);
    font-size: 50px;
    margin-bottom: 20px;
}

.service-tab:hover i {
    color: var(--dark);
    font-size: 50px;
    margin-bottom: 20px;
}

.img-content {
    position: absolute;
    bottom: 60px;
    color: white;
    padding: 20px;
}

.error-page {
    height: 100%;
    background: var(--dark);
    color: white;
}
.error-page h1 {
    font-size: 8em;
    margin-bottom: 0;
}

.wpforms-confirmation-container-full {
    color: #333;
    margin: 0 0 24px 0;
    background: var(--pink);
    border: 1px solid var(--dark);
    padding: 15px 15px;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 992px) { 
    #main-nav {
        background-color: var(--dark) !important;
        color: white;
        box-shadow: 0 0 0px transparent;
        transition: background 0.3s ease-out;
    }
    #main-nav .navbar-nav .nav-link {
        color: white;
        transition: color 0.3s ease-out;
        text-align: center;
        margin-bottom: 20px;
    }
    #main-nav .btn {
        display: block;
        width: 100%;
    }
    .banner .bottom-content .banner-box {
        display: none;
    }
    .banner .bottom-content {
        width: 100%;
        position: absolute;
        top: 40%;
        color: white;
        padding: 50px;

    }
    .banner .bottom-content .lead {
        width: 100%;
    }
    .banner .bottom-content h1 {
        font-size: 40px;
        margin: 0;
    }
    .footer {
        background: var(--dark);
        width: 100%;
        color: white;
        text-align: center;
    }
    .footer span {
        font-size: 28px;
        text-transform: uppercase;
        display: none;
    }
    .mobile-img {
        display: block;
        margin: 20px auto;
    }
}

@media (max-width: 768px) { 
    h2, .h2 {
        font-size: 1.5rem;
    }
    .banner .bottom-content {
        width: 100%;
        position: absolute;
        top: 40%;
        color: white;
        padding: 50px;
        text-align: center;
    }
    .banner .bottom-content h1 {
        font-size: 33px;
        margin: 0;
    }
    .newsletter #mc_embed_signup .button {
        font-size: 1em;
        border: none;
        border-radius: 3px;
        letter-spacing: .03em;
        color: #fff;
        background-color: var(--dark);
        box-sizing: border-box;
        height: 32px;
        line-height: 32px;
        padding: 0 25px;
        display: inline-block;
        margin: 10px auto;
        transition: all 0.23s ease-in-out 0s;
        width: 54%;
    }
    .sub-header, .dark-header {
        height: 300px;
        color: white;
    }
    .sub-header .lead, .dark-header .lead {
        margin: 0;
        font-size: 14px;
    }
    .sub-header h1, .dark-header h1 {
        margin: 0;
        font-size: 40px;
    }
 }

 @media (max-width: 576px) { 

     #main-nav {
        background-color: var(--dark);
        color: white;
        box-shadow: 0 0 0px transparent;
        transition: background 0.3s ease-out;
    }
    #main-nav .navbar-brand span {
        color: white;
        text-transform: uppercase;
        display: none;
    }
    .newsletter #mc_embed_signup .button {
        font-size: 1em;
        border: none;
        border-radius: 3px;
        letter-spacing: .03em;
        color: #fff;
        background-color: var(--dark);
        box-sizing: border-box;
        height: 32px;
        line-height: 32px;
        padding: 0 25px;
        display: inline-block;
        margin: 10px auto;
        transition: all 0.23s ease-in-out 0s;
        width: 74%;
    }
    .sub-header h1, .dark-header h1 {
        margin: 0;
        font-size: 22px;
    }
  }

  @media (max-width: 416px) {
    
    .lead {
        font-size: 1rem;
        font-weight: 300;
    }
   .banner {
        height: 100vh;
        background: url(https://res.cloudinary.com/empuls3/image/upload/v1541082936/Hebert%20Thomas/banner-img.jpg) no-repeat center center;
        background-size: cover;
   } 
   .banner .bottom-content h1 {
        font-size: 21px;
        margin: 0;
    }
    .newsletter #mc_embed_signup input.email {
        font-size: 1em;
        background-color: white;
        box-sizing: border-box;
        height: 32px;
        display: block;
        width: 80%;
        border-width: 1px;
        border-style: none;
        -o-border-image: initial;
        border-image: initial;
        border-radius: 3px;
        padding: 0px 0.4em;
        margin: 0px auto;
    }
    .sub-header h1, .dark-header h1 {
        margin: 0;
        font-size: 22px;
    }
  }

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}